name: Build and Deploy

on:
workflow_dispatch:

  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: 'ject/package-lock.json'

      - name: Install dependencies
        working-directory: ./ject
        run: npm ci

      - name: Build
        working-directory: ./ject
        run: npm run build

      - name: Copy build to public
        run: mkdir -p public && cp -r ject/dist/* public/ || true
